<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>WebChat</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>net.tusdasa.webchat.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserRegister</servlet-name>
    <servlet-class>net.tusdasa.webchat.servlet.Register</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Chat</servlet-name>
    <servlet-class>net.tusdasa.webchat.servlet.Chat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegister</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Chat</servlet-name>
    <url-pattern>/Chat</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Admin</servlet-name>
    <servlet-class>net.tusdasa.webchat.servlet.Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
</web-app>